/*
Overrides for coreui styles
== INDEX ==
— GLOBAL
— COMPONENTS
— — JUMBOTRON
— — NAVBAR
— MEDIA QUERIES
*/

/* ==== GLOBAL ==== */
.primary-color{
	color: #513285;
}

body {
	background-color: #f7f9fa;
}
/*
html {
	overflow: hidden;
}
body {
	overflow: auto;
}*/

/* ==== COMPONENTS ==== */
/* ====== JUMBOTRON ====== */
.jumbotron {
    padding: 2rem 1rem;
}

/* ====== NAVBAR ====== */
.navbar-brand {
	max-width: 12rem;
}
.app-header.navbar .navbar-brand {
    width: auto;
    height: auto;
    padding: 0.2rem 1rem;
    margin-right: 1rem;
    background-color: transparent;
	border-bottom: none;
	background-image: none;
}
.app-header.navbar {
    height: auto;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .navbar .dropdown-toggle, .navbar-dark .dropdown-toggle {
    color: #eee;
    color: rgba(255, 255, 255, 0.66);
	/*color: #ded8eb;*/
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,.8);
}
.app-header.navbar .nav-item .nav-link > .img-avatar, .app-header.navbar .nav-item .dropdown-toggle > .img-avatar {
    height: auto;
    width: auto;
	max-width: 4em;
}
.app-header.navbar {
    border-bottom: 0;
}

.bg-primary{
	background-color: #513285;
}
.dropdown-menu {
    z-index: 1021;
}
.dropdown-item {
	padding: 0.2em 1em;
}
.app-header.navbar .nav-item .nav-link, .app-header.navbar .dropdown-toggle {
    padding: 0.6em 1.1em;
}
.container-fluid {
	padding:0;
}
.navbar-toggler {
	opacity: 0.8;
	background-color: #fff;
	background-color: rgba(255,255,255,.8);
	position: absolute;
	left: 0.6em;
	top: 0.4em;
	z-index: 2;
	padding: 0.2rem 0.6rem;
}

.aside-menu-toggler {
	left: auto;
	right: 0.6em;
}
#content {
	position: relative;
}

body, html {
    height: 100%!important;
}

#wrapper-index {
    position: relative;
    height: 100%;
	width: 100%;
    overflow: hidden;
}
.tse-scrollable {
    width: auto;
    height: auto;
}
html,
body.offcanvas {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
ol.breadcrumb {
	padding-left: 4em;	
}

.dropdown-header {
    padding: 0.2em 1em;
    background: #eee;
    border-bottom: 1px solid #cfd8dc;
    font-weight: normal;
}
.aside-menu {
    margin-right: auto;
}

.app-header .navbar-nav {
    position: static;
    top: auto;
    right: auto;
}


/* ==== MEDIA QUERIES ==== */

@media (max-width: 976px) {
	#navsearchCollapse {
		position: absolute;
		width: 100%;
		left: 0px;
		padding: 1em;
	}
}
@media (max-width: 576px) {
.aside-menu {
    margin-right: -250px;
}
}