.navbar-brand {
	max-width: 12rem;
}
ol, ul {
    padding-left: 0.4rem;
}
.thumbnail {
	border: 2px solid #ddd;
    padding: 0.4em;
    border-radius: 0.2em;
    margin-right: 0.6em;
    margin-bottom: 0.4em;
}

h5, .h5 {
    font-size: 1.1rem;
}

.btn-fx {
	position: relative;
	display: inline-block;
/*	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;*/
	transition: color 0.7s;
}

.btn-fx.btn-fx--click,
.btn-fx:focus{
	outline: none;
	color: #3c8ddc;
	box-shadow: none;
}

.btn-fx__icon {
	display: block;
}

.btn-fx__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.btn-fx::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

/* Effect Boris */

.btn-fx--effect-boris::before {
	background: rgba(111,148,182,0.1);
}

.btn-fx--effect-boris.btn-fx--click::before,
.btn-fx--effect-boris:focus::before {
	animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

.tse-scrollable .tse-scroll-content {
    margin-right: -17px;
    width: auto !important;
}

/* Off Canvas */
@media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all .25s ease-out;
           -o-transition: all .25s ease-out;
              transition: all .25s ease-out;
    }
  
    .row-offcanvas-right {
      right: 0;
    }
  
    .row-offcanvas-left {
      left: 0;
    }
  
    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -100%; /* 12 columns */
    }
  
    .row-offcanvas-right.active
    .sidebar-offcanvas {
      right: -50%; /* 6 columns */
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -100%; /* 12 columns */
    }
  
    .row-offcanvas-left.active
    .sidebar-offcanvas {
      left: -50%; /* 6 columns */
    }
  
    .row-offcanvas-right.active {
      right: 50%; /* 6 columns */
    }
  
    .row-offcanvas-left.active {
      left: 50%; /* 6 columns */
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%; /* 6 columns */
    }
  }
