h5.cbox_toggle { display: inline; color: #999; margin-top:0.1em; display: inline-block; font-weight: normal; font-size:0.9em;}

.wpc-field label:not(.checkbox, .radio):after { content: “:”; }​

input[type=checkbox].cbox_toggle_i{    display: none;}
input[type=checkbox].cbox_toggle_i ~ label.cbox_toggle span.cbt_s {	display: none;}

.cbt_cont {
    max-height: 20em;
    max-height: 40vh;
    overflow: hidden;
}

input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle + div.cbt_cont {  opacity: 0;
    transition: 0.2s all ease-in;
    max-height: 0;
}

.cbox_toggle.drawer {
    display: block;
    margin-bottom: .5rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle  span.cbt_s { display: inline; }
input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle  span.cbt_h { display: none; }

.btn-expand span {
    display: inline-block;
    width: 0;
/*    overflow: hidden;*/
    text-align: left;
	opacity: 0;
}
.btn-expand {
    overflow: hidden;
}
.btn-expand:hover span, .btn-expand.active span {
    width: 100%;
	opacity: 1;
    transition: all 0.4s ease-in;
}
/*bootstrap4b visual clash with wp .arrow */
.tooltip .arrow {
    overflow: initial;
	margin-left: auto;
}
.tooltip .arrow::after {
	display: none;
}

.cbox-group label, .wrap-multicheck label, .wrap-radio label{
	font-weight: normal;
	margin-right: 0.4em;
	padding-right: 0.4em;
	border-right: 1px solid #ccc;
}
.cbox-group label.main-lbl, .wrap-multicheck label.main-lbl, .wrap-radio label.main-lbl {
	font-weight: bold;
	border-right: 0;
}
div.cbox-group :checked + label, .wrap-multicheck :checked + label, .wrap-radio :checked + label {
  font-weight: bold;
}

input[type=checkbox].cbox_toggle_i{    display: none;}
input[type=checkbox].cbox_toggle_i ~ label.cbox_toggle span.cbt_s {	display: none;}
input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle + div.cbt_cont {    display: none;}
input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle  span.cbt_s { display: block; display:inline-block; }
input[type=checkbox].cbox_toggle_i:checked + label.cbox_toggle  span.cbt_h { display: none; }
input[type=checkbox].cbox_dismiss{    display: none;}
input[type=checkbox].cbox_dismiss:checked ~ div.cbt_cont {    display: none;}
input[type=checkbox].cbox_dismiss:checked ~ label.cbox_dismiss  span { display: none; }
label.cbox_dismiss {
    float: right;
    position: relative;
    top: 1em;
}
div.inp_desc {
    font-style: oblique;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: inline-block;
    padding: 0.5em 1em;
    color: #aaa;
    margin-left: 1em;
    background-color: #f7f7f7;
    box-shadow: inset 0 0 0.3em 0.1em #eee;
    asd: asd;
    font-size: 0.9em;
}

label.cbox_toggle.descr_lbl span {	padding: 0.2em 0.6em; margin-right: 1.2em;}

.cbox_toggle.descr_lbl {	
	float: right;
	clear: both;
	right: -3.2em;
	position: absolute;
	top: 0.2em;
	border-right: 0;
	font-weight: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
}

.cbox_toggle.descr_lbl span:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #5bc0de;
	border-width: 0.6em;
	margin-top: -0.5em;
}
.cbox_toggle.descr_lbl.dwlbl span:after {
	display: none;}

.cbox_toggle.descr_lbl span.cbt_h:after{
	border-right-color: #777;
}

.switch.switch-default {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 24px;
  background-color: transparent;
  cursor: pointer; }
  .switch.switch-default .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .switch.switch-default .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 2px;
    transition: opacity background .15s ease-out; }
  .switch.switch-default .switch-input:checked ~ .switch-label::before {
    opacity: 0; }
  .switch.switch-default .switch-input:checked ~ .switch-label::after {
    opacity: 1; }
  .switch.switch-default .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .15s ease-out; }
  .switch.switch-default .switch-input:checked ~ .switch-handle {
    left: 18px; }
  .switch.switch-default.switch-lg {
    width: 48px;
    height: 28px; }
    .switch.switch-default.switch-lg .switch-label {
      font-size: 12px; }
    .switch.switch-default.switch-lg .switch-handle {
      width: 24px;
      height: 24px; }
    .switch.switch-default.switch-lg .switch-input:checked ~ .switch-handle {
      left: 22px; }
  .switch.switch-default.switch-sm {
    width: 32px;
    height: 20px; }
    .switch.switch-default.switch-sm .switch-label {
      font-size: 8px; }
    .switch.switch-default.switch-sm .switch-handle {
      width: 16px;
      height: 16px; }
    .switch.switch-default.switch-sm .switch-input:checked ~ .switch-handle {
      left: 14px; }
  .switch.switch-default.switch-xs {
    width: 24px;
    height: 16px; }
    .switch.switch-default.switch-xs .switch-label {
      font-size: 7px; }
    .switch.switch-default.switch-xs .switch-handle {
      width: 12px;
      height: 12px; }
    .switch.switch-default.switch-xs .switch-input:checked ~ .switch-handle {
      left: 10px; }

.switch.switch-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 24px;
  background-color: transparent;
  cursor: pointer; }
  .switch.switch-text .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .switch.switch-text .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 2px;
    transition: opacity background .15s ease-out; }
  .switch.switch-text .switch-label::before,
  .switch.switch-text .switch-label::after {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -.5em;
    line-height: 1;
    text-align: center;
    transition: inherit; }
  .switch.switch-text .switch-label::before {
    right: 1px;
    color: #c2cfd6;
    content: attr(data-off); }
  .switch.switch-text .switch-label::after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0; }
  .switch.switch-text .switch-input:checked ~ .switch-label::before {
    opacity: 0; }
  .switch.switch-text .switch-input:checked ~ .switch-label::after {
    opacity: 1; }
  .switch.switch-text .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .15s ease-out; }
  .switch.switch-text .switch-input:checked ~ .switch-handle {
    left: 26px; }
  .switch.switch-text.switch-lg {
    width: 56px;
    height: 28px; }
    .switch.switch-text.switch-lg .switch-label {
      font-size: 12px; }
    .switch.switch-text.switch-lg .switch-handle {
      width: 24px;
      height: 24px; }
    .switch.switch-text.switch-lg .switch-input:checked ~ .switch-handle {
      left: 30px; }
  .switch.switch-text.switch-sm {
    width: 40px;
    height: 20px; }
    .switch.switch-text.switch-sm .switch-label {
      font-size: 8px; }
    .switch.switch-text.switch-sm .switch-handle {
      width: 16px;
      height: 16px; }
    .switch.switch-text.switch-sm .switch-input:checked ~ .switch-handle {
      left: 22px; }
  .switch.switch-text.switch-xs {
    width: 32px;
    height: 16px; }
    .switch.switch-text.switch-xs .switch-label {
      font-size: 7px; }
    .switch.switch-text.switch-xs .switch-handle {
      width: 12px;
      height: 12px; }
    .switch.switch-text.switch-xs .switch-input:checked ~ .switch-handle {
      left: 18px; }

.switch.switch-icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 24px;
  background-color: transparent;
  cursor: pointer; }
  .switch.switch-icon .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .switch.switch-icon .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-family: FontAwesome;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 2px;
    transition: opacity background .15s ease-out; }
  .switch.switch-icon .switch-label::before,
  .switch.switch-icon .switch-label::after {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -.5em;
    line-height: 1;
    text-align: center;
    transition: inherit; }
  .switch.switch-icon .switch-label::before {
    right: 1px;
    color: #c2cfd6;
    content: attr(data-off); }
  .switch.switch-icon .switch-label::after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0; }
  .switch.switch-icon .switch-input:checked ~ .switch-label::before {
    opacity: 0; }
  .switch.switch-icon .switch-input:checked ~ .switch-label::after {
    opacity: 1; }
  .switch.switch-icon .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .15s ease-out; }
  .switch.switch-icon .switch-input:checked ~ .switch-handle {
    left: 26px; }
  .switch.switch-icon.switch-lg {
    width: 56px;
    height: 28px; }
    .switch.switch-icon.switch-lg .switch-label {
      font-size: 12px; }
    .switch.switch-icon.switch-lg .switch-handle {
      width: 24px;
      height: 24px; }
    .switch.switch-icon.switch-lg .switch-input:checked ~ .switch-handle {
      left: 30px; }
  .switch.switch-icon.switch-sm {
    width: 40px;
    height: 20px; }
    .switch.switch-icon.switch-sm .switch-label {
      font-size: 8px; }
    .switch.switch-icon.switch-sm .switch-handle {
      width: 16px;
      height: 16px; }
    .switch.switch-icon.switch-sm .switch-input:checked ~ .switch-handle {
      left: 22px; }
  .switch.switch-icon.switch-xs {
    width: 32px;
    height: 16px; }
    .switch.switch-icon.switch-xs .switch-label {
      font-size: 7px; }
    .switch.switch-icon.switch-xs .switch-handle {
      width: 12px;
      height: 12px; }
    .switch.switch-icon.switch-xs .switch-input:checked ~ .switch-handle {
      left: 18px; }

.switch.switch-3d {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 24px;
  background-color: transparent;
  cursor: pointer; }
  .switch.switch-3d .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .switch.switch-3d .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f0f3f5;
    border: 1px solid #c2cfd6;
    border-radius: 2px;
    transition: opacity background .15s ease-out; }
  .switch.switch-3d .switch-input:checked ~ .switch-label::before {
    opacity: 0; }
  .switch.switch-3d .switch-input:checked ~ .switch-label::after {
    opacity: 1; }
  .switch.switch-3d .switch-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .15s ease-out;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .switch.switch-3d .switch-input:checked ~ .switch-handle {
    left: 16px; }
  .switch.switch-3d.switch-lg {
    width: 48px;
    height: 28px; }
    .switch.switch-3d.switch-lg .switch-label {
      font-size: 12px; }
    .switch.switch-3d.switch-lg .switch-handle {
      width: 28px;
      height: 28px; }
    .switch.switch-3d.switch-lg .switch-input:checked ~ .switch-handle {
      left: 20px; }
  .switch.switch-3d.switch-sm {
    width: 32px;
    height: 20px; }
    .switch.switch-3d.switch-sm .switch-label {
      font-size: 8px; }
    .switch.switch-3d.switch-sm .switch-handle {
      width: 20px;
      height: 20px; }
    .switch.switch-3d.switch-sm .switch-input:checked ~ .switch-handle {
      left: 12px; }
  .switch.switch-3d.switch-xs {
    width: 24px;
    height: 16px; }
    .switch.switch-3d.switch-xs .switch-label {
      font-size: 7px; }
    .switch.switch-3d.switch-xs .switch-handle {
      width: 16px;
      height: 16px; }
    .switch.switch-3d.switch-xs .switch-input:checked ~ .switch-handle {
      left: 8px; }

.switch-pill .switch-label, .switch.switch-3d .switch-label,
.switch-pill .switch-handle, .switch.switch-3d .switch-handle {
  border-radius: 50em !important; }

.switch-pill .switch-label::before, .switch.switch-3d .switch-label::before {
  right: 2px !important; }

.switch-pill .switch-label::after, .switch.switch-3d .switch-label::after {
  left: 2px !important; }

.switch-primary > .switch-input:checked ~ .switch-label {
  background: #20a8d8 !important;
  border-color: #1985ac; }

.switch-primary > .switch-input:checked ~ .switch-handle {
  border-color: #1985ac; }

.switch-primary-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #20a8d8; }
  .switch-primary-outline > .switch-input:checked ~ .switch-label::after {
    color: #20a8d8; }

.switch-primary-outline > .switch-input:checked ~ .switch-handle {
  border-color: #20a8d8; }

.switch-primary-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #20a8d8; }
  .switch-primary-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #20a8d8; }

.switch-primary-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #20a8d8 !important;
  border-color: #20a8d8; }

.switch-secondary > .switch-input:checked ~ .switch-label {
  background: #a4b7c1 !important;
  border-color: #869fac; }

.switch-secondary > .switch-input:checked ~ .switch-handle {
  border-color: #869fac; }

.switch-secondary-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #a4b7c1; }
  .switch-secondary-outline > .switch-input:checked ~ .switch-label::after {
    color: #a4b7c1; }

.switch-secondary-outline > .switch-input:checked ~ .switch-handle {
  border-color: #a4b7c1; }

.switch-secondary-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #a4b7c1; }
  .switch-secondary-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #a4b7c1; }

.switch-secondary-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #a4b7c1 !important;
  border-color: #a4b7c1; }

.switch-success > .switch-input:checked ~ .switch-label {
  background: #4dbd74 !important;
  border-color: #3a9d5d; }

.switch-success > .switch-input:checked ~ .switch-handle {
  border-color: #3a9d5d; }

.switch-success-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #4dbd74; }
  .switch-success-outline > .switch-input:checked ~ .switch-label::after {
    color: #4dbd74; }

.switch-success-outline > .switch-input:checked ~ .switch-handle {
  border-color: #4dbd74; }

.switch-success-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #4dbd74; }
  .switch-success-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #4dbd74; }

.switch-success-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #4dbd74 !important;
  border-color: #4dbd74; }

.switch-info > .switch-input:checked ~ .switch-label {
  background: #63c2de !important;
  border-color: #39b2d5; }

.switch-info > .switch-input:checked ~ .switch-handle {
  border-color: #39b2d5; }

.switch-info-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #63c2de; }
  .switch-info-outline > .switch-input:checked ~ .switch-label::after {
    color: #63c2de; }

.switch-info-outline > .switch-input:checked ~ .switch-handle {
  border-color: #63c2de; }

.switch-info-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #63c2de; }
  .switch-info-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #63c2de; }

.switch-info-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #63c2de !important;
  border-color: #63c2de; }

.switch-warning > .switch-input:checked ~ .switch-label {
  background: #ffc107 !important;
  border-color: #d39e00; }

.switch-warning > .switch-input:checked ~ .switch-handle {
  border-color: #d39e00; }

.switch-warning-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #ffc107; }
  .switch-warning-outline > .switch-input:checked ~ .switch-label::after {
    color: #ffc107; }

.switch-warning-outline > .switch-input:checked ~ .switch-handle {
  border-color: #ffc107; }

.switch-warning-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #ffc107; }
  .switch-warning-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #ffc107; }

.switch-warning-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #ffc107 !important;
  border-color: #ffc107; }

.switch-danger > .switch-input:checked ~ .switch-label {
  background: #f86c6b !important;
  border-color: #f63c3a; }

.switch-danger > .switch-input:checked ~ .switch-handle {
  border-color: #f63c3a; }

.switch-danger-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #f86c6b; }
  .switch-danger-outline > .switch-input:checked ~ .switch-label::after {
    color: #f86c6b; }

.switch-danger-outline > .switch-input:checked ~ .switch-handle {
  border-color: #f86c6b; }

.switch-danger-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #f86c6b; }
  .switch-danger-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #f86c6b; }

.switch-danger-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #f86c6b !important;
  border-color: #f86c6b; }

.switch-light > .switch-input:checked ~ .switch-label {
  background: #f0f3f5 !important;
  border-color: #d1dbe1; }

.switch-light > .switch-input:checked ~ .switch-handle {
  border-color: #d1dbe1; }

.switch-light-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #f0f3f5; }
  .switch-light-outline > .switch-input:checked ~ .switch-label::after {
    color: #f0f3f5; }

.switch-light-outline > .switch-input:checked ~ .switch-handle {
  border-color: #f0f3f5; }

.switch-light-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #f0f3f5; }
  .switch-light-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #f0f3f5; }

.switch-light-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #f0f3f5 !important;
  border-color: #f0f3f5; }

.switch-dark > .switch-input:checked ~ .switch-label {
  background: #29363d !important;
  border-color: #151b1f; }

.switch-dark > .switch-input:checked ~ .switch-handle {
  border-color: #151b1f; }

.switch-dark-outline > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #29363d; }
  .switch-dark-outline > .switch-input:checked ~ .switch-label::after {
    color: #29363d; }

.switch-dark-outline > .switch-input:checked ~ .switch-handle {
  border-color: #29363d; }

.switch-dark-outline-alt > .switch-input:checked ~ .switch-label {
  background: #fff !important;
  border-color: #29363d; }
  .switch-dark-outline-alt > .switch-input:checked ~ .switch-label::after {
    color: #29363d; }

.switch-dark-outline-alt > .switch-input:checked ~ .switch-handle {
  background: #29363d !important;
  border-color: #29363d; }