@media (min-width: 480px) {
	.wp-full-overlay.expanded {
    margin-left: 420px !important;
	}

	#customize-controls.wp-full-overlay-sidebar {
		width: 420px !important;
	}
	.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
		overflow: visible;
		margin-left: -420px;
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.form-control {
    padding: .3rem .6rem;
    font-size: 0.96rem;
    line-height: 1.1em;
}
.btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bg-superlight {
	background-color: #fcfcfc;
}
.wpct-header.actionable {
	position: relative;
}
.actions-head {
	position: absolute;
	top: 0;
	right: 0;
}
.wpct-customize-control.wpctcc-accordion .card{
	padding:0;	
}

.wpct-customize-control.wpctcc-accordion .card-header.lvl0,
#wpct-settings-search {
	background-color: #fff;
	border: 1px solid #ccc;
}
.wpct-customize-control.wpctcc-accordion .card-header.lvl0 {
	position: relative;	
/*	border-top:0;*/
	margin-top: -1px;
	padding:0;
}
/*
.wpct-customize-control.wpctcc-accordion .card-header.lvl0:first-child {
	border-top: 1px solid #ccc;
}*/
/*.wpct-customize-control.wpctcc-accordion .card-header.lvl0,*/
.wpct-customize-control.wpctcc-accordion .card-header.lvl0 a,
#wpct-settings-search
 {
	padding:0.6em 1em;
}
#sub-accordion-section-wpcomet_theme_options .form-group {
    margin-bottom: 1rem;
}


/*
.wpct-customize-control.wpctcc-accordion .card-header:hover {
	background-color: #fafafa;	
}*/
/*
.wpct-customize-control.wpctcc-accordion .card-header a {
	padding:.75rem 1.25rem;
	display: block;
}*/

.wpct-acc-head a::before {
    content: "\f106";
	font-family: FontAwesome;
	margin-right: 0.4em;
}
.wpct-acc-head a.collapsed::before {
    content: "\f107";
}
.wpct-subacc-heading a::before {
    content: "\f0d7";
	font-family: FontAwesome;
	margin-right: 1em;
}
.wpct-subacc-heading a.collapsed::before {
    content: "\f0d8";
}
#sub-accordion-section-wpcomet_theme_options .h4, #sub-accordion-section-wpcomet_theme_options h4,
#accordion-section-wpcomet_theme_options .h4, #accordion-section-wpcomet_theme_options h4{
    font-size: 1.01rem;
	text-transform:capitalize;
}
#sub-accordion-section-wpcomet_theme_options .h5, #sub-accordion-section-wpcomet_theme_options h5,
#accordion-section-wpcomet_theme_options .h5, #accordion-section-wpcomet_theme_options h5 {
    font-size: 0.92rem;
	border-bottom: 1px solid #fefefe;
}
#customize-theme-controls #sub-accordion-section-wpcomet_theme_options.accordion-section-content,
#accordion-section-wpcomet_theme_options > .accordion-section-content {
	padding-left: 0;
	padding-right: 0;
}

#sub-accordion-section-wpcomet_theme_options .customize-section-title,
#accordion-section-wpcomet_theme_options > .ustomize-section-title {
	margin: auto;
}

.wpct-subacc-heading  {
margin-bottom:0;
}
.wpct-acc-head a {
	color: #0b67b8;
}

.wpct-acc-head a,
.wpct-subacc-heading a {
	text-decoration: none;
		display: block;
}
.wpct-subacc-heading a {
    padding: 0.4em 0.6em;
    background-color: #f7f7f7;
    color: #222;
    border: 1px solid #ededed;
	border-top: none;
}
/*
.wpct-acc-head a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}*/
.wpct-acc-head a:focus,
.wpct-subacc-heading a:focus {
   /* -webkit-box-shadow: 0 0 0 1px #f0f0f0,0 0 2px 1px rgba(232,232,232,.6);
	box-shadow: 0 0 0 1px #f0f0f0,0 0 2px 1px rgba(232,232,232,.6);*/
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.wpct-customize-control.wpctcc-accordion,
.wpct-customize-control.wpct-subaccordion {
	float: none;
	margin-bottom:0;
}

.wpctcc-accordion .card {
    margin-top: 0;
}

.wpct-customize-control.wpctcc-accordion .card-block {
	padding: 0;
}
.subacc-content {
	padding: 1em;
	background: #fcfcfc;
}
input.input-radiogroup.image{ position: absolute; z-index: -1;} 
input.input-radiogroup.image + img{border: 0.2em solid #ccc; border-radius:0.2em;} 
input.input-radiogroup.image:checked + img{ border-color: #ecba0c; } 

.tooltip {
    z-index: 500001;
}

.toggle-level {
	position: absolute;
    top: 0;
    right: 0;
	border-left: 1px solid #ddd;
	border-radius: 0;
	color: #aaa;
}
.wpctcc-upload .subacc-content {
	position: relative;
}
.remove-image-inline {
	display: none;
}
.preview-upload {
	margin-top: 0.6em;
}
.subhead-action-btn.active {
    background-color: #e8e8e8;
    border-color: #d9d9d9;
}

.subhead-action-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subhead-action-btn {
    border: 1px solid #e0e0e0;
    color: #888;
}
a.subhead-action-btn:hover {
    background-color: #ededed;
    border-color: #d6d6d6;
}
a.subhead-action-btn:hover, a.subhead-action-btn:focus {
	color: #555;
}
.btn-expand.active span {
    width: 100%;
}
#sub-accordion-section-wpcomet_theme_options .form-group {
    margin-bottom: 0.1rem;
}
#sub-accordion-section-wpcomet_theme_options #wpct-settings-search {
    margin-bottom: 0;
}

/*
.btn:focus{
    color: #dae2e5;
}*/

.btn-expand.btn-sm {
	line-height: 1.4;
}
/*
#wpct-setting-search-results .list-group-item a,
#wpct-setting-search-results small {
	padding: 0.2em 1rem;
}*/
#wpct-setting-search-results .list-group-item a {
	background-color: #fefefe;
	font-size: 0.92rem;
	padding: 0.2em 1.6rem;
	display: block;
    margin: 0 -1.25rem;
}

#wpct-setting-search-results h4 {
    color: #787878;
    margin-bottom: 0.2em;
    font-size: 86%;
}
#wpct-setting-search-results .list-group-item a:hover {
	background-color: #EDE7F4;
	text-decoration: none;
	color: #5F2DAB;
}
#wpct-setting-search-results small {
	color: #aaa;
	display: block;
/*	background-color: #fdfdfd;*/
}

#sub-accordion-section-wpcomet_theme_options .customize-section-description-container {
    margin-bottom: 0;
}


#wpct-setting-search-results em.wpct-ss-hilite {
	background-color: #faf9eb;
}
#wpct-setting-search-results .list-group-item {
    padding: .6rem 1.2rem;
}
#wpct-setting-search-results {
	display: none;
	position: relative;
    z-index: 1;
    /*box-shadow: 0px 16px 20px -8px;*/
	box-shadow: 0px 10px 16px -10px;
}

.toggle-level i {
	font-size: 80%;
}
.alert#wpct_maindesc {
	margin-bottom: 0;
}

#sub-accordion-section-wpcomet_theme_options div.customize-section-description {
	margin-top: 0;
}